Lab 1 - C parser/parser
/Lab 1 - C parser/TestSuite/*.*
/Lab 1 - C parser/TestSuite/*
/Lab 1 - C parser/TestSuite
/Lab 4 - 🐍/TestSuite/*
*.zip
Lab 1 - C parser/tlexer
Lab 1 - C parser/top
Lab 1 - C parser/tsym
Lab 1 - C parser/ttok
Lab 2 - Lisp Parser/out
Lab 1 - C parser/TestSuite/testz.pas.trc
Lab 1 - C parser/TestSuite/testz.pas.out
Lab 1 - C parser/TestSuite/testy.pas.trc
Lab 1 - C parser/TestSuite/testy.pas.out
Lab 1 - C parser/TestSuite/testx.pas.trc
Lab 1 - C parser/TestSuite/testx.pas.out
Lab 1 - C parser/TestSuite/testw.pas.trc
Lab 1 - C parser/TestSuite/testw.pas.out
Lab 1 - C parser/TestSuite/testv.pas.trc
Lab 1 - C parser/TestSuite/testv.pas.out
Lab 1 - C parser/TestSuite/testu.pas.trc
Lab 1 - C parser/TestSuite/testu.pas.out
Lab 1 - C parser/TestSuite/testt.pas.trc
Lab 1 - C parser/TestSuite/testt.pas.out
Lab 1 - C parser/TestSuite/TestSuite.zip
Lab 1 - C parser/TestSuite/testsem.trc
Lab 1 - C parser/TestSuite/testsem.out
Lab 1 - C parser/TestSuite/tests.pas.trc
Lab 1 - C parser/TestSuite/tests.pas.out
Lab 1 - C parser/TestSuite/testr.pas.trc
Lab 1 - C parser/TestSuite/testr.pas.out
Lab 1 - C parser/TestSuite/testq.pas.trc
Lab 1 - C parser/TestSuite/testq.pas.out
Lab 1 - C parser/TestSuite/testp.pas.trc
Lab 1 - C parser/TestSuite/testp.pas.out
Lab 1 - C parser/TestSuite/testok7.pas.trc
Lab 1 - C parser/TestSuite/testok7.pas.out
Lab 1 - C parser/TestSuite/testok6.trc
Lab 1 - C parser/TestSuite/testok6.pas.trc
Lab 1 - C parser/TestSuite/testok6.pas.out
Lab 1 - C parser/TestSuite/testok5.pas.trc
Lab 1 - C parser/TestSuite/testok5.pas.out
Lab 1 - C parser/TestSuite/testok4.pas.trc
Lab 1 - C parser/TestSuite/testok4.pas.out
Lab 1 - C parser/TestSuite/testok3.pas.trc
Lab 1 - C parser/TestSuite/testok3.pas.out
Lab 1 - C parser/TestSuite/testok2.pas.trc
Lab 1 - C parser/TestSuite/testok2.pas.out
Lab 1 - C parser/TestSuite/testok1.trc
Lab 1 - C parser/TestSuite/testok1.pas.trc
Lab 1 - C parser/TestSuite/testok1.pas.out
Lab 1 - C parser/TestSuite/testok.trc
Lab 1 - C parser/TestSuite/testok.out
Lab 1 - C parser/TestSuite/testo.pas.trc
Lab 1 - C parser/TestSuite/testo.pas.out
Lab 1 - C parser/TestSuite/testn.pas.trc
Lab 1 - C parser/TestSuite/testn.pas.out
Lab 1 - C parser/TestSuite/testm.pas.trc
Lab 1 - C parser/TestSuite/testm.pas.out
Lab 1 - C parser/TestSuite/testl.pas.trc
Lab 1 - C parser/TestSuite/testl.pas.out
Lab 1 - C parser/TestSuite/testk.pas.trc
Lab 1 - C parser/TestSuite/testk.pas.out
Lab 1 - C parser/TestSuite/testj.pas.trc
Lab 1 - C parser/TestSuite/testj.pas.out
Lab 1 - C parser/TestSuite/testi.pas.trc
Lab 1 - C parser/TestSuite/testi.pas.out
Lab 1 - C parser/TestSuite/testh.pas.trc
Lab 1 - C parser/TestSuite/testh.pas.out
Lab 1 - C parser/TestSuite/testg.pas.trc
Lab 1 - C parser/TestSuite/testg.pas.out
Lab 1 - C parser/TestSuite/testfun.trc
Lab 1 - C parser/TestSuite/testfun.out
Lab 1 - C parser/TestSuite/testf.pas.trc
Lab 1 - C parser/TestSuite/testf.pas.out
Lab 1 - C parser/TestSuite/teste.pas.trc
Lab 1 - C parser/TestSuite/teste.pas.out
Lab 1 - C parser/TestSuite/testd.pas.trc
Lab 1 - C parser/TestSuite/testd.pas.out
Lab 1 - C parser/TestSuite/testc.pas.trc
Lab 1 - C parser/TestSuite/testc.pas.out
Lab 1 - C parser/TestSuite/testb.pas.trc
Lab 1 - C parser/TestSuite/testb.pas.out
Lab 1 - C parser/TestSuite/testaz.trc
Lab 1 - C parser/TestSuite/testaz.out
Lab 1 - C parser/TestSuite/testall.trc
Lab 1 - C parser/TestSuite/testall.out
Lab 1 - C parser/TestSuite/testa.pas.trc
Lab 1 - C parser/TestSuite/testa.pas.out
Lab 1 - C parser/TestSuite/sem5.pas.trc
Lab 1 - C parser/TestSuite/sem5.pas.out
Lab 1 - C parser/TestSuite/sem4.pas.trc
Lab 1 - C parser/TestSuite/sem4.pas.out
Lab 1 - C parser/TestSuite/sem3.pas.trc
Lab 1 - C parser/TestSuite/sem3.pas.out
Lab 1 - C parser/TestSuite/sem2.pas.trc
Lab 1 - C parser/TestSuite/sem2.pas.out
Lab 1 - C parser/TestSuite/sem1.pas.trc
Lab 1 - C parser/TestSuite/sem1.pas.out
Lab 1 - C parser/TestSuite/fun5.pas.trc
Lab 1 - C parser/TestSuite/fun5.pas.out
Lab 1 - C parser/TestSuite/fun4.pas.trc
Lab 1 - C parser/TestSuite/fun4.pas.out
Lab 1 - C parser/TestSuite/fun3.pas.trc
Lab 1 - C parser/TestSuite/fun3.pas.out
Lab 1 - C parser/TestSuite/fun2.pas.trc
Lab 1 - C parser/TestSuite/fun2.pas.out
Lab 1 - C parser/TestSuite/fun1.pas.trc
Lab 1 - C parser/TestSuite/fun1.pas.out
Lab 1 - C parser/TestSuite/alltraces.out
Lab 1 - C parser/TestSuite/alltests.out
Lab 2 - Lisp Parser/out
